$primary: #003580;
$secondary: #fad136;
$white: #fff;
$black: #000;
$color-hover: #1fba95;
$color-content: #737373;
$color-content-highlights: #313131;
$color-star: #269b29;
$color-star-highlights: #1fba95;
$color-span: #9A9A9A;
$color-bg-section: #f9f7f7;
$color-bg-star: #9a9a9a;
$color-bg-oval: #8fc8ff;
$color-bg-table: #abadaf;
$color-bg-tab: #ececec;
$color-button-submit: #269B29;
$color-border: #d4d8d2;
$color-border-2: #dbdbdb;
$color-border-3: #71767a;
$color-border-4: #dadada;
$color-border-5: #e49c4b;
$color-border-6: #c5c5c5;
$color-border-7: #a5a5a5;
$color-border-8: #cfcfcf;
$color-border-9: #c1c1c1;
$color-border-10: #f4f2f2;
$color-border-11: #d3d3d3;
$color-border-12: #8193ac;
$color-border-13: #d5d5d5;
$color-href-2: rgb(23,184,255);
$color-hover-button: #000;
$color-twitter: #17b8ff;
$color-google: #d6293b;
$color-icon-bus: #3e3928;
$color-text: #636363;
$color-bg-button: #ffbd09;
$bg-menu: #003580;
$bg-notice: #ffedd9;
$bg-button-notice: #f07c00;
$bg-percent: #04be03;
$bg-dot: #b5b2b2;
$bg-list-pay: #e7e7e7;
$color-text-2: #666666;
$color-text-3: #a2a0a0;
$color-text-4: #2a2828;
$color-text-5: #181818;
$color-text-6: #f41515;
$color-text-7: #259b29;
$color-text-8: #a3a3a3;
$color-text-9: #85b8ff;
$color-text-10: #131313;

$font-family: 'Roboto', sans-serif;

$font-default: 16px;
