.select2-container .select2-selection--single {
    height: auto;
    border-color: #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.select2-selection__rendered {
    padding: 3px 12px;
}
.select2-container .select2-selection--multiple{
    height: auto;
    border: #ccc;
}
.select2-search input{
    padding: 2px 6px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #dd4b39;
    padding: 6px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: -3px;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    width: auto;
    clear: none;
}
.box-header {
    color: #444;
    display: block;
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}
.fa-2x {
    font-size : 1em;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.bootstrap-tagsinput{
    display: block;
    position: relative;
}
.twitter-typeahead {
    position: static !important;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    width: 100%;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.bootstrap-tagsinput, .form-control {
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bootstrap-tagsinput {
    display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top : 5px;
}
.box-header button {
    float: right;
    position: relative;
    top: -8px;
    padding: 4px 12px;
}
.close:focus {
    outline: none !important;
}
button i.fa{
    margin-right: 3px;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists{
    display: block;
}
.image_bus{
    width: 100%;
}
.remove_image_edit {
    position: relative;
}
.remove_image_edit i {
    position: absolute;
    z-index: 999;
    top: -6px;
    right: 5px;
    color: black;
}
.custom_row {
    padding: 0px;
    margin-right: -10px;
    margin-left: -10px;
}
.custom_row div[class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}
.bootstrap-tagsinput input {
    display: inline-block;
    width: 35px;
}
.bootstrap-tagsinput{
    padding: 5px 6px;;
}
.custom-lable label{
    margin-bottom: 7px;
}
.custom_row .remove {
    overflow: hidden;
    width: 0px;
    padding: 0px !important;
}
.sleeper {
    background-image: url(/img/sleeper.png);
    background-repeat: no-repeat;
    width: 34px;
    margin-top: 10px;
    height: 41px;
}
.seater {
    background-image: url(/img/seater.png);
    background-repeat: no-repeat;
    width: 34px;
    margin-top: 10px;
    height: 41px;
}
.fix-width-70 {
    width: 65.6%;
}
.row-seat .custom-col-14 {
    width: 14%;
    float: left;
    min-height: 1px;
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
div[class^="wrap_location"] {
    position: relative;
}
div[class^="wrap_location"] .ui-widget-content{
    width: 100% !important;
}
button i.fa{
    margin-right: 0;
}

