.select2-container .select2-selection--single {
    height: auto;
    border: 1px solid #ccc;
}
.select2-selection__rendered {
    padding: 3px 12px;
}
.select2-container .select2-selection--multiple{
    height: auto;
    border: 1px solid #ccc;
}
.select2-search input{
    padding: 2px 6px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}