.section-page-payment-choose-seat {
	padding-top: 20px;
    padding-bottom: 55px;
}
.widget-payment-custom-info-bus {
	.widget-title {
		margin-bottom: 25px;
		padding-top: 15px;
		h3 {
			margin-bottom: 0px;
		}
	}
	.widget-content {

	}
	.route-selection {
		border-bottom: 1px solid #2963b6;
		p {
			color: $white;
			font-weight: bold;
			margin-bottom: 13px;
		}
		span {
			color: $white;
			display: block;
			font-size: 13px;
			margin-bottom: 15px;
			i {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
	.form-group {
		margin-bottom: 20px;
		label {
			font-size: 13px;
			font-weight: bold;
			color: $white;
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: $color-text-5;
		text-align: left;
		font-weight: normal;
		padding-left: 32px;
		line-height: 20px;
	}
	.wrap-time-start {
		margin-bottom: 10px;
		margin-top: 11px;
		i {
			color: $color-text;
			font-size: 14px;
			top: 6px;
			left: 13px;
		}
	}
	.select2-container .select2-selection--single {
		height: 25px;
		border-radius: 2px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 25px;
		top: -1px;
	}
	.form-control {
		height: 25px;
		font-size: 13px;
		color: $color-text-5;
		padding-left: 34px;
	}
	.wrap-start-point {
		i {
			color: $color-star;
			top: 4px;
    		left: 14px;
		}
	}
	.button-submit {
		font-size: 16px;
		line-height: 18px;
		font-weight: normal;
		background-color: $color-bg-button;
		padding: 9px 25px;
		border-radius: 2px;
		color: $primary;
		float: right;
		&.button-back {
			background-color: inherit;
			color: $white;
			padding: 8px 24px;
			border: 1px solid $color-border-12;
			float: none;
		}
	}
}
.widget-payment-info-draw {
	.widget-title {
		margin-bottom: 20px;
		padding-top: 15px;
		h3 {
			margin-bottom: 0px;
		}
	}
	.wrap-start-end-bus {
		.start-end {
			color: $white;
			font-size: 13px;
			line-height: 14px;
			font-weight: bold;
			margin-bottom: 0px;
			>span {
				color: $color-text-9;
				font-weight: normal;
				display: inline-block;
				margin-left: 10px;
			}
			>i {
				font-size: 15px;
				margin-right: 5px;
			}
		}
	}
	.draw-position {
		margin-left: 35px;
		margin-top: 15px;
		margin-bottom: 15px;
		.draw-position-start, .draw-position-end {
			position: relative;
			&:after {
				content: '';
				height: 17px;
				width: 17px;
				border: 1px solid $white;
				position: absolute;
				top: 0px;
				border-radius: 50%;
				left: -8px;
			}
			&:before {
				content: '';
				height: 9px;
				width: 9px;
				background-color: $white;
				position: absolute;
				top: 4px;
				left: -4px;
				border-radius: 50%;
			}
		}
		span {
			display: inline-block;
			font-size: 13px;
			color: $white;
			line-height: 14px;
			margin-left: 15px;
		}
		.draw-time {
			min-height: 105px;
			border-left: 1px solid $white;
			display: table;
			padding-left: 15px;
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	.name-garage {
		font-size: 13px;
		line-height: 14px;
		color: $color-bg-button;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 0px;
	}
}
.widget-list-bus.style-1 {
	margin-bottom: 15px;
	.entry-item-bus {
		background-color: inherit;
	}
	.content-header {
		.entry-title {
			display: inline-block;
		}
		.rate-item {
			float: right;
			width: 105px;
			margin-top: 3px;
		}
		.left {
			display: block;
		}
	}
	.nav-tabs {
		text-align: left;
	}
	.entry-item-bus {
		margin-top: 0px;
	}
	.nav-tabs li a {
		padding-left: 0px;
		padding-right: 0px;
		border-bottom: 0px;
		padding-bottom: 0px;
		color: $color-text-5;
	}
	.nav-tabs li.active a {
		color: $primary;
	}
	.tab-content>.active {
		margin-top: 10px;
	}
	.entry-item-bus .content-header {
		margin-bottom: 3px;
	}
	.nav-tabs li {
		margin-right: 25px;
		&:last-child {
			margin-right: 0px;
		}
	}
}
.widget-booking-details {
	background-color: $white;
	border-radius: 5px;
	border: 1px solid $color-border-11;
	.front-indicator {
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
		color: $primary;
		font-weight: bold;
		padding-top: 25px;
		padding-bottom: 40px;
	}
	#seat-map {
		margin-bottom: 40px;
	}
}
.booking-details {
	background-color: $color-bg-section;
	padding-top: 15px;
	padding-bottom: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	@extend .clear-fix;
	h3 {
		font-size: 13px;
		line-height: 14px;
		text-transform: uppercase;
		color: $color-text-5;
		margin-bottom: 0px;
		display: inline-block;
	}
	#selected-seats {
		display: inline-block;
		li {
			display: inline;
			font-weight: normal;
			color: $color-text;
		}
	}
	>span {
		font-size: 13px;
		line-height: 14px;
		text-transform: uppercase;
		color: $color-text-5;
		font-weight: bold;
		float: right;
		position: relative;
		top: 3px;
		span {
			color: $color-text-6;
		}
	}
}
#seat-map {
	div.seatCharts-seat.unavailable {
		background-color: inherit;
		height: 36px;
		.wrapper {
			border-radius: 0px;
			background-image: url('../../img/front-end/seat-selected.png');
			background-repeat: no-repeat;
		    background-size: cover;
		    height: 36px;
		    width: 44px;
		    background-color: inherit;
		    line-height: 30px;
		    font-weight: bold;
		    display: inline-block;
		}
		&.seat-bed {
			height: 52px;
			.wrapper {
				background-image: url('../../img/front-end/seat-bed-selected.png');
				width: 28px;
				height: 52px;
			}
		}
	}
	div.seatCharts-seat.available {
		background-color: inherit;
		height: 36px;
		.wrapper {
			border-radius: 0px;
			background-image: url('../../img/front-end/seat-variable.png');
			background-repeat: no-repeat;
		    background-size: cover;
		    height: 36px;
		    width: 44px;
		    background-color: inherit;
		    line-height: 30px;
		    color: $color-text-5;
		    font-weight: bold;
		    display: inline-block;
		}
		&.seat-bed {
			height: 52px;
			.wrapper {
				background-image: url('../../img/front-end/seat-bed-variable.png');
				width: 28px;
				height: 52px;
			}
		}
	}
	div.seatCharts-seat.focused {
		background-color: inherit;
		height: 36px;
		.wrapper {
			border-radius: 0px;
			background-image: url('../../img/front-end/seat-select.png');
			background-repeat: no-repeat;
		    background-size: cover;
		    height: 36px;
		    width: 44px;
		    background-color: inherit;
		    line-height: 30px;
		    color: $color-text-5;
		    font-weight: bold;
		    display: inline-block;
		}
		&.seat-bed {
			height: 52px;
			.wrapper {
				background-image: url('../../img/front-end/seat-bed-select.png');
				width: 28px;
				height: 52px;
			}
		}
	}
	div.seatCharts-seat.selected {
		background-color: inherit;
		height: 36px;
		.wrapper {
			border-radius: 0px;
			background-image: url('../../img/front-end/seat-select.png');
			background-repeat: no-repeat;
		    background-size: cover;
		    height: 36px;
		    width: 44px;
		    background-color: inherit;
		    line-height: 30px;
		    color: $color-text-5;
		    font-weight: bold;
		    display: inline-block;
		}
		&.seat-bed {
			height: 52px;
			.wrapper {
				background-image: url('../../img/front-end/seat-bed-select.png');
				width: 28px;
				height: 52px;
			}
		}
	}
	/* TO DO add css for many type row*/
	div.seatCharts-cell {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		background-color: inherit;
	}
	div.seatCharts-row-5 div.seatCharts-cell {
		width: 20%;
		float: left;
	}
	div.seatCharts-row {
		height: auto;
		@extend .clear-fix;
		margin-bottom: 15px;
		>div:first-child {
			display: none;
		}
	}
	.control-seat {
		text-align: center;
		padding-bottom: 35px;
		i {
			font-size: 20px;
			line-height: 20px;
			color: $color-text;
		}
		&.row-seat-5 {
			width: 20%;
		}
	}
}
.seat-map-note {
	background-color: $color-bg-section;
	padding-top: 7px;
	padding-bottom: 17px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	>div {
		font-size: 13px;
		line-height: 14px;
		color: $color-text-5;
		font-weight: bold;
		display: inline-block;
		padding-left: 63px;
		span {
			display: inline-block;
			height: 24px;
			width: 24px;
			background-color: $color-text;
			border: 1px solid $color-border-11;
			border-radius: 1px;
			margin-right: 3px;
			position: relative;
			top: 7px;
		}
		&.select {
			span {
				background-color: $color-bg-button;
			}
		}
		&.still_empty {
			span {
				background-color: $white;
			}
		}
	}
}
#seat-map-2-floor {
	@extend #seat-map;
}
.widget-booking-details.widget-seat-floor {
	.nav-tabs {
		text-align: left;
		@extend .clear-fix;
	}
	.bus-seat-floor {
		.wrap {
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 25px;
			.tab-content {
				background-color: $color-bg-section;
				border: 1px solid $color-border-13; 
			}
		}
	}
	.nav-tabs li {
		margin-right: 0px;
		float: left;
		&.active {
			a {
				background-color: $color-bg-section;
				border: 1px solid $color-border-13;
				border-bottom: 1px solid $color-bg-section;
			}
		}
	}
	.nav-tabs li a {
		background-color: $white;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		font-weight: normal;
		border-bottom: 0px;
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid $white;
		border-bottom: 1px solid $color-border-13;
		border-radius: 0px;
	}
	.tab-content {
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.seat-map-note > div{
		&:first-child {
			padding-left: 53px;
		}
	}
	.front-indicator-floor {
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		color: $color-text-5;
	}
	#seat-map {
		margin-bottom: 0px;
	}
}