@media only screen and (max-width: 1365px)  {
	.bg-search {
		padding-bottom: 40px;
	}
	.widget-ads {
		img {
			width: 100%;
		}
	}
	.widget-search {
		.widget-content {
			width: 100%;
		}
	}
	.widget-provided {
		.widget-content {
			span {
				margin-bottom: 5px;
				display: inline-block;
			}
			li {
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
	.widget-rate {
		.rate-item {
			margin-bottom: 20px;
		}
		.row {
			margin-bottom: 0px;
		}
	}
	.widget-popular {
		.entry-item {
			margin-bottom: 20px;
		}
		.sub {
			margin-top: 0px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.wrap-commitment .title {
		margin-bottom: 15px;
	}
	.wrap-commitment {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.widget-search .widget-content {
		padding-bottom: 30px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.section-garapopulor {
		padding-bottom: 0px;
	}
	.footer-area {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer-top .entry-footer {
		border-right: 0px;
		margin-bottom: 10px;
	}
	.footer-top.match_height {
		>div {
			display: block;
		}
	}
	.wiget-choose-me {
		margin-bottom: 25px;
		.widget-title {
		    margin-bottom: 10px;
		}
		.title {
			font-size: 30px;
		}
		.widget-content i {
			font-size: 100px;
		}
	}
	.footer-area .colection .button {
		float: none;
		margin-top: 20px;
	}
	.footer-area .colection {
		text-align: center;
	}
	.list-info .title {
		font-size: 20px;
	}
	.header-left .menu {
		display: none;
	}
	#header {
		position: relative;
		.menu-mobile-con {
			display: block;
			text-align: right;
			i {
				font-size: 30px;
			}
		}
		.menu-mobile {
			display: block;
			margin-bottom: 20px;
			.menu-primary {
				margin-top: 0px;
				a {
					color: $white;
				}
				li {
					display: block;
					padding: 10px 0px;
					border-bottom: 1px solid $color-border-3;
					margin-right: 0px;
					margin-left: 0px;
				}
			}
		}
		.header-rigth {
			position: absolute;
			height: 500px;
			width: 320px;
			top: 45px;
			right: -10px;
			background-color: $black;
			z-index: 999;
			padding: 30px 15px;
			text-align: left;
			display: none;
			&.active {
				display: block;
			}
			.bootstrap-select > .dropdown-toggle {
				background-color: unset;
				margin-bottom: 10px;
			}
			.bootstrap-select .filter-option {
				color: $white;
			}
			.bootstrap-select {
				margin-left: 0px !important;
			}
			.call-support {
				top: 0px;
				margin-left: 0px;
				color: $white;
				display: block;
				margin-bottom: 10px;
			}
			.fa-info-circle {
				display: none;
			}
			.dropdown-menu {
				top: 15px;
				li {
					display: block;
				}
				a,span {
					color: $color-text;
					font-size: 14px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px){
	.header {
		.header-left, .header-rigth {
			text-align: center;
		}
	}
}
@media only screen and (max-width: 630px) {
	.widget-garapopulor .widget-content>.row>div {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.widget-search .widget-content {
		width: 100%;
	}
	section {
		padding: 20px 0px;
	}
	.section-promotion {
		padding-top: 20px;
	}
	.widget-customer-review {
		margin-bottom: 14px;
	}
	.footer-area .colection li {
		margin-right: 20px;
	}
	.widget-provided {
		.widget-content ul{
			li {
				width: 50%;
				margin: 0px;
				float: left;
				margin-bottom: 5px;
			}
		} 
	}
	.widget-promotion {
		margin-bottom: 0px;
		.owl-carousel .owl-nav button {
			height: 30px;
			width: 30px;
		}
		.owl-nav button.owl-prev {
			left: -15px;
		}
		.owl-nav button.owl-next {
			right: -15px;
		}
		.owl-carousel .owl-nav button i{
			font-size: 14px;
			line-height: 30px;
		}
		.owl-carousel {
			position: relative;
		}
		.owl-nav {
			position: absolute;
			top: 20%;
			width: 100%;
			left: 0;
			margin-bottom: 0px;
		}
	}
	.footer-menu.style-1 li {
		margin-right: 30px;
	}
	.footer-middle .footer-menu.style-1 {
		margin-top: 20px;
	}
	.footer-bottom {
		margin-top: 20px;
	}
	.footer-middle .footer-menu.style-3 {
		margin-top: 15px;
	}
	.widget-title {
		margin-bottom: 15px;
	}
	.bg-search .button-submit {
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 550px) {
	.widget-popular {
		.widget-content>.row>div{
			width: 100%;
		}
	}
	.entry-item.style-3 .entry-content-top {
		span, a {
			float: none;
			display: block;
		}
	}
	.widget-garapopulor .entry-item {
		margin-bottom: 0px;
	}
	.section-garapopulor {
		padding-bottom: 20px;
	}
}
@media only screen and (max-width: 480px) {
	.header-rigth li {
		margin-left: 7px;
		font-size: 12px;
	}
	.widget-search {
		.widget-content {
			padding-left: 10px;
			padding-right: 10px;
		}
		.button-submit {
			width: 100%;
		}
	}
	.widget-rate {
		.widget-content>.row>div{
			width: 100%;
		}
	}
	.entry-item.style-3 .entry-thumb {
		margin-right: 10px;
	}
	.button-icon {
		padding: 10px;
	}
	.list-info .title {
		margin-bottom: 15px;
	}
	.widget-promotion .owl-nav {
		top: 30%;
	}
}
@media only screen and (max-width: 360px) {
	.entry-item.style-3 .entry-content-bottom li {
		a, .price-wrap{
			float: none;
			display: block;
		}
		.price-wrap {
			margin-bottom: 5px;
		}
	}
	.entry-item.style-3 .entry-content-bottom .entry-content {
		padding-top: 0px;
	}
}