@media only screen and (max-width: 1365px)  {
	.bg-search {
		padding-bottom: 40px;
	}
	.widget-ads {
		img {
			width: 100%;
		}
	}
	.widget-search {
		.widget-content {
			width: 100%;
		}
	}
	.widget-provided {
		.widget-content {
			span {
				margin-bottom: 5px;
				display: inline-block;
			}
			li {
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
	.widget-rate {
		.rate-item {
			margin-bottom: 20px;
		}
		.row {
			margin-bottom: 0px;
		}
	}
	.widget-popular {
		.entry-item {
			margin-bottom: 20px;
		}
		.sub {
			margin-top: 0px;
		}
	}
	.filter-type-best a {
		padding: 5px 35px;
	}
	#customer-comment .modal-dialog {
		width: 90%;
	}
	.widget-payment-custom-info-bus .button-submit {
		padding: 9px 14px;
		&.button-back {
			padding: 8px 14px;
		}
	}
	.widget-payment-info-draw .wrap-start-end-bus .start-end > span {
		margin-left: 5px;
	}
}
@media only screen and (max-width: 991px) {
	.wrap-commitment .title {
		margin-bottom: 15px;
	}
	.wrap-commitment {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.widget-search .widget-content {
		padding-bottom: 30px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.section-garapopulor {
		padding-bottom: 0px;
	}
	.footer-area {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer-top .entry-footer {
		border-right: 0px;
		margin-bottom: 10px;
	}
	.footer-top.match_height {
		>div {
			display: block;
		}
	}
	.wiget-choose-me {
		margin-bottom: 25px;
		.widget-title {
		    margin-bottom: 10px;
		}
		.title {
			font-size: 30px;
		}
		.widget-content i {
			font-size: 100px;
		}
	}
	.footer-area .colection .button {
		float: none;
		margin-top: 20px;
	}
	.footer-area .colection {
		text-align: center;
	}
	.list-info .title {
		font-size: 20px;
	}
	.header-left .menu {
		display: none;
	}
	#header {
		position: relative;
		.menu-mobile-con {
			display: block;
			text-align: right;
			i {
				font-size: 30px;
			}
		}
		.menu-mobile {
			display: block;
			margin-bottom: 20px;
			.menu-primary {
				margin-top: 0px;
				a {
					color: $white;
				}
				li {
					display: block;
					padding: 10px 0px;
					border-bottom: 1px solid $color-border-3;
					margin-right: 0px;
					margin-left: 0px;
				}
			}
		}
		.header-rigth {
			position: absolute;
			height: 500px;
			width: 320px;
			top: 45px;
			right: -10px;
			background-color: $black;
			z-index: 999;
			padding: 30px 15px;
			text-align: left;
			display: none;
			&.active {
				display: block;
			}
			.bootstrap-select > .dropdown-toggle {
				background-color: unset;
				margin-bottom: 10px;
			}
			.bootstrap-select .filter-option {
				color: $white;
			}
			.bootstrap-select {
				margin-left: 0px !important;
			}
			.call-support {
				top: 0px;
				margin-left: 0px;
				color: $white;
				display: block;
				margin-bottom: 10px;
			}
			.fa-info-circle {
				display: none;
			}
			.dropdown-menu {
				top: 15px;
				li {
					display: block;
				}
				a,span {
					color: $color-text;
					font-size: 14px;
				}
			}
		}
	}
	.footer-menu.style-3 {
		li {
			&:first-child {
				padding-left: 12px;
				&:before {
					height: 5px;
					width: 5px;
				}
			}
		}
	}
	.side-bar .widget-search .widget-content {
		padding-bottom: 25px;
	}
	.side-bar .widget:last-child {
		margin-bottom: 15px;
	}
	.widget-filter .widget-content {
		padding-bottom: 0px;
	}
	.widget-filter .widget-title .show-hidden {
		display: inline-block;
		&:before {
			content: "\f077";
			font-size: 16px;
			color: $white;
			font-family: FontAwesome;
		}
		&.active {
			&:before {
				content: "\f078";
			}
		}
	}
	.widget-filter {
		.widget-title {
			margin-bottom: 0px;
			.title {
				margin-bottom: 0px;
			}
		}
		&.active {
			.widget-title {
				margin-bottom: 18px;
				.title {
					margin-bottom: 10px;
				}
			}
		}
		.widget-content {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	.section-page-payment-bus {
		padding-bottom: 20px;
		.widget-info-customer {
			margin-bottom: 20px;
		}
	}
	.section-page-payment-method-bus {
		.widget-info-ticket {
			margin-bottom: 15px;
		}
	}
}
@media only screen and (max-width: 767px){
	.header {
		.header-left, .header-rigth {
			//text-align: center;
		}
	}
	.filter-type-best a {
		padding: 5px 25px;
	}
	.entry-item-bus .entry-thumb {
		float: none;
		margin-right: 0px;
		width: 100%;
		margin-bottom: 20px;
	}
	.nav-tabs li {
		margin-right: 13px;
	}
	.nav-tabs {
		text-align: left;
		margin-left: -5px;
	}
	.entry-item-bus .content-footer .button-submit {
		margin-left: 5px;
		margin-top: 20px;
	}
	.wrap-pagination .pagination .page-item.prev-page {
		margin-right: 5px;
	}
	.wrap-pagination .pagination .page-item.next-page {
		margin-left: -5px;
	}
	.list-step li {
		width: 50%;
		margin-top: 5px;
	}
}
@media only screen and (max-width: 630px) {
	.widget-garapopulor .widget-content>.row>div {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.widget-search .widget-content {
		width: 100%;
	}
	section {
		padding: 20px 0px;
	}
	.section-promotion {
		padding-top: 20px;
	}
	.widget-customer-review {
		margin-bottom: 14px;
	}
	.footer-area .colection li {
		margin-right: 20px;
	}
	.widget-provided {
		.widget-content ul{
			li {
				width: 50%;
				margin: 0px;
				float: left;
				margin-bottom: 5px;
			}
		} 
	}
	.widget-promotion {
		margin-bottom: 0px;
		.owl-carousel .owl-nav button {
			height: 30px;
			width: 30px;
		}
		.owl-nav button.owl-prev {
			left: -15px;
		}
		.owl-nav button.owl-next {
			right: -15px;
		}
		.owl-carousel .owl-nav button i{
			font-size: 14px;
			line-height: 30px;
		}
		.owl-carousel {
			position: relative;
		}
		.owl-nav {
			position: absolute;
			top: 20%;
			width: 100%;
			left: 0;
			margin-bottom: 0px;
		}
	}
	.footer-menu.style-1 li {
		margin-right: 30px;
	}
	.footer-middle .footer-menu.style-1 {
		margin-top: 20px;
	}
	.footer-bottom {
		margin-top: 20px;
	}
	.footer-middle .footer-menu.style-3 {
		margin-top: 15px;
	}
	.widget-title {
		margin-bottom: 15px;
	}
	.bg-search .button-submit {
		margin-bottom: 10px;
	}
	.widget-list-bus.style-1 {
		.nav-tabs {
			margin-left: 0px;
		}
	}
	.widget-list-bus.style-1 .content-header .rate-item {
		float: none;
	}
	.widget-list-bus.style-1 .nav-tabs li {
		margin-right: 15px;
		&:last-child {
			margin-right: 0px;
		} 
	}
	#seat-map .front-indicator {
		padding-top: 15px;
    	padding-bottom: 15px;
	}
	#seat-map .control-seat {
		padding-bottom: 15px;
	}
	.seat-map-note > div {
		padding-left: 13px;
	}
}
@media only screen and (max-width: 550px) {
	.widget-popular {
		.widget-content>.row>div{
			width: 100%;
		}
	}
	.entry-item.style-3 .entry-content-top {
		span, a {
			float: none;
			display: block;
		}
	}
	.widget-garapopulor .entry-item {
		margin-bottom: 15px;
	}
	.section-garapopulor {
		padding-bottom: 20px;
	}
	.notice-success .show-notice {
		float: none;
		top: 0px;
		margin-top: 10px;
	}
	.entry-item-bus .content-header .right {
		float: right;
		margin-top: 6px;
	}
	.entry-item-bus .content-header .customer-rate .text {
		display: none;
	}
	.entry-item-bus .content-header .left .rate-item {
		display: none;
	}
	.entry-item-bus .content-footer .button-submit {
		display: block;
	}
	.nav-tabs li a {
		border-bottom: 0px;
		padding-bottom: 5px;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		border-bottom: 0px;
		padding-bottom: 5px;
		color: $bg-percent;
	}
	.entry-item-bus .content-footer .button-submit {
		margin-top: 5px;
	}
	.timestart-tab .time-list {
		padding-left: 0px;
		padding-right: 0px;
	}
	.wrap-pagination {
		padding-right: 10px;
		padding-left: 10px;
	}
	.wrap-pagination .detail-pagination {
		margin-left: 12px;
		line-height: 20px;
	}
	.widget-booking-details.widget-seat-floor {
		.nav-tabs {
			margin-left: 0px;
		}
		.nav-tabs > li.active > a {
			padding-bottom: 10px;
			color: $primary;
		}
	}
	.widget-booking-details.widget-seat-floor .front-indicator {
		padding-bottom: 25px;
	}
	#seat-map-2-floor {
		margin-top: 30px;
		.control-seat {
			display: none;
		}
		.front-indicator-floor {
			margin-bottom: 10px;
		}
	}
	.widget-booking-details.widget-seat-floor .seat-map-note > div:first-child {
		padding-left: 15px;
	}
	.hide-des-show-mobile {
		display: inline-block;
	}
	.entry-item-bus .content-header .customer-rate .number {
		float: none;
		display: block;
		text-align: center;
		height: auto;
		width: auto;
		background-color: inherit;
		top: 0;
		span {
			color: $color-bg-button;
			line-height: 19px;
		}
	}
	.entry-item-bus .content-header .customer-rate {
		text-align: center;
		margin-left: 5px;
	}
	.entry-item-bus .content-header .right {
		.star.rate {
			background-color: inherit;
			color: $color-bg-button;
			font-size: 11px;
			height: 11px;
			width: 11px;
			letter-spacing: 0.5px;
			line-height: 11px;
		}
	}
	.entry-item-bus .content-middle .position span {
		display: none;
	}
	.nav-tabs {
		float: left;
	}
	.entry-item-bus >.entry-thumb {
		float: left;
		max-width: 90px;
		margin-right: 10px;
	}
	.entry-item-bus .content-header .right {
		margin-top: 0px;
	}
	.entry-item-bus .entry-title {
		font-size: 13px;
		line-height: 15px;
	}
	.entry-item-bus .content-header .customer-rate .number span {
		font-size: 16px;
		line-height: 16px;
	}
	.entry-item-bus .content-header .customer-rate .wrap-star {
		position: relative;
		top: -5px;
	}
	.entry-item-bus .content-header {
		margin-bottom: 5px;
	}
	.entry-item-bus .content-middle .wrap-detail-price ul li {
		font-size: 12px;
		line-height: 14px;
		padding-left: 8px;
		&:after {
			height: 5px;
			width: 5px;
			top: 6px;
		}
	}
	.entry-item-bus .content-middle .wrap-detail-price .price {
		font-size: 15px;
		line-height: 22px;
	}
	.tab-content>.tab-pane {
		position: relative;
	}
	.bus-nav-tab .tab-pane > div {
		position: absolute;
		top: -100px;
		left: 16px;
		width: 100%;
		background-color: $color-bg-tab;
		z-index: 9999;
	}
	.tab-content .close-tab {
		display: block;
		top: 5px;
		right: 10px;
		color: red;
		font-size: 15px;
		position: absolute;
	}
	.active-tab {
		position: relative;
		>.bg-tab-show-mobile {
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: $black;
			opacity: 0.3;
			top: 0px;
		}
	}
	.bus-nav-tab .tab-pane > div {
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.pagination>li>a, .pagination>li>span {
		padding: 1px 5px;
	}
	.wrap-pagination .pagination .page-item.prev-page {
		margin-left: 0px;
		margin-right: 0px;
	}
	.wrap-pagination .pagination li.hide-on-mobile {
		display: none;
	}
	.widget-ticket-history {
		.label-submit {
			display: none;
		}
		#form-ticket-history .button-submit {
			margin-left: 0px;
		}
		.datetime-picker .datepicker {
			width: 100%;
		}
		#form-ticket-history .form-group {
			display: block;
		}
		.widget-content {
			overflow-x:scroll;
		}
	}
}
@media only screen and (max-width: 480px) {
	.header-rigth li {
		margin-left: 7px;
		font-size: 12px;
	}
	.widget-search {
		.widget-content {
			padding-left: 10px;
			padding-right: 10px;
		}
		.button-submit {
			width: 100%;
		}
	}
	.widget-rate {
		.widget-content>.row>div{
			width: 100%;
		}
	}
	.entry-item.style-3 .entry-thumb {
		margin-right: 10px;
	}
	.button-icon {
		padding: 10px;
	}
	.list-info .title {
		margin-bottom: 15px;
	}
	.widget-promotion .owl-nav {
		top: 30%;
	}
	.entry-item.style-3 .entry-title h3 {
		margin-bottom: 5px;
	}
	.entry-item-bus .content-middle .wrap-position-time i.fa {
		padding-left: 15px;
		padding-right: 15px;
	}
	.entry-item-bus .content-middle .wrap-detail-price .price {
		font-size: 15px;
		line-height: 22px;	
	}
	.nav-tabs li {
		margin-right: 0px;
	}
}
@media only screen and (max-width: 360px) {
	.entry-item.style-3 .entry-content-bottom li {
		a, .price-wrap{
			float: none;
			display: block;
		}
		.price-wrap {
			margin-bottom: 5px;
		}
	}
	.entry-item.style-3 .entry-content-bottom .entry-content {
		padding-top: 0px;
	}
	.filter-type-best a {
		padding: 5px 20px;
	}
	.entry-item-bus .entry-title {
		font-size: 16px;
		line-height: 18px;
	}
	.entry-item-bus .content-middle .wrap-position-time i.fa {
		padding-left: 10px;
		padding-right: 10px;
	}
	.entry-item-bus .content-middle .wrap-detail-price .price {
		display: block;
	}
	#customer-comment .modal-content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.list-step li {
		padding-right: 0px;
		padding-left: 0px;
	}
	.entry-item-bus > .entry-thumb {
		width: 100%;
		max-width: inherit;
		margin-right: 0px;
	}
	.entry-item-bus .content-header {
		overflow: inherit;
	}
}