$primary: #162675;
$secondary: #fad136;
$white: #fff;
$black: #000;
$color-hover: #1fba95;
$color-content: #8c8c8c;
$color-content-highlights: #313131;
$color-star: #269b29;
$color-star-highlights: #1fba95;
$color-span: #9A9A9A;
$color-bg-section: #f8f9fa;
$color-bg-star: #9a9a9a;
$color-button-submit: #269B29;
$color-border: #d4d8d2;
$color-border-2: #dbdbdb;
$color-href-2: rgb(23,184,255);
$color-hover-button: #000;
$color-twitter: #17b8ff;
$color-google: #d6293b;
$color-icon-bus: #3e3928;

$font-family: 'Roboto', sans-serif;

$font-default: 16px;
