$primary: #162675;
$secondary: #fad136;
$white: #fff;
$black: #000;
$color-hover: #1fba95;
$color-content: #8c8c8c;
$color-content-highlights: #313131;
$color-star: #269b29;
$color-star-highlights: #1fba95;
$color-span: #9A9A9A;
$color-bg-section: #f8f9fa;
$color-bg-star: #9a9a9a;
$color-button-submit: #269B29;
$color-border: #707070;

$font-family: 'Roboto', sans-serif;

$font-default: 16px;
