$primary: #003580;
$secondary: #fad136;
$white: #fff;
$black: #000;
$color-hover: #1fba95;
$color-content: #737373;
$color-content-highlights: #313131;
$color-star: #269b29;
$color-star-highlights: #1fba95;
$color-span: #9A9A9A;
$color-bg-section: #f9f7f7;
$color-bg-star: #9a9a9a;
$color-bg-oval: #8fc8ff;
$color-button-submit: #269B29;
$color-border: #d4d8d2;
$color-border-2: #dbdbdb;
$color-border-3: #71767a;
$color-border-4: #dadada;
$color-href-2: rgb(23,184,255);
$color-hover-button: #000;
$color-twitter: #17b8ff;
$color-google: #d6293b;
$color-icon-bus: #3e3928;
$color-text: #636363;
$color-bg-button: #ffbd09;
$bg-menu: #003580;
$bg-percent: #04be03;
$color-text-2: #666666;
$color-text-3: #a2a0a0;
$color-text-4: #2a2828;

$font-family: 'Roboto', sans-serif;

$font-default: 16px;
